body {
    background: #666;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 87%;
    color: #484848;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.app-header {}

.app-logo {
  height: 64px;
  display: inline-block;
  line-height: 64px;
  font-size: 3em;
  color: #3377ee;
}

.container {
    padding: 10px;
    margin: 10px;
    background: #FFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    display: block;
    max-height: 500px;
}

.session {}
.session__user {
    color: var(--main-color);
}
.color--main { color: var(--color-main); }
.color--hl { color: var(--color-highlight)}

/**
 * Helpers
 */
.f-right { float: right; }

/**
 * This is only to fix weird 100% height form rendering.
 */
/* .dx-form > .dx-layout-manager { height: 30px; } */
/* .dx-form::after { clear: both; content: ""; } */
